html
{
    width: 100%;
    height: 100%;
}

body
{
    width: 100%;
    height: 100%;

    margin: 0;
}

main
{
    width: 100%;
    height: 100%;

    margin: 0;
}

.container
{
    width: 100%;
    height: 100%;
}

.main-container
{
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    border: 3px solid #DDDDDD;
    border-radius: 5px;

    margin: 5px;

}

#main-title
{
    font-family: sans-serif;
    font-size: 1.5em;
    text-align: center;
}

#main-text
{
    font-family: sans-serif;
    font-size: 1.0em;
    margin: 0px 20px 20px 20px;
    
}

#main-barriers
{
    font-size: 1.2em;
    text-align: center;
}

.barrier-title
{
    font-size: 1.0em;
    font-weight: 500;
}

.barrier-text
{
    font-size: 0.85em;
}

#barrier-graphs
{
    margin: 5px 20px 5px 20px;
}

.graph
{
    font-family: sans-serif;

    text-align: center;

    display: inline-block;
}

.input-graph-inputs
{
    display: table;
}

.input-graph-input-row
{
    display: table-row;
    margin: 0.15em;
}

.input-graph-label
{
    font-family: sans-serif;
    font-size: 0.85em;
    text-align: left;
    
    display: table-cell;
}

.input-graph-input
{
    display: table-cell;
}

.line-graph-title
{
    font-size: 0.95em;
    font-weight: 600;
}

.line-graph-subtitle
{
    font-size: 0.90em;
}


